p {
    color:red;
}

p#primary {
    color:blue;
}

p.primary {
    color: green;
}

div#descendant a {
    color: yellow;
}

div > a {
    color: orange;
}
 
div + p {
    color: purple
}